name: Automatic Build Pull Request

on:
    pull_request: 
        types: [opened, synchronize, reopened]
        paths:
            - './PenumbraModForwarder/**'
        
jobs:
    Build:
        runs-on: windows-latest
        steps:
            - name: Checkout Repository
              uses: actions/checkout@v3
              
            - name: Build and Test
              uses: ./.github/templates/BuildAndTest